mat-grid-tile {
    background: #9A091C;
}

.home {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 3%, rgba(0,0,0,1) 91%);
}

.mat-display-2 {
    text-shadow: 10px 11px 9px rgba(62,18,18,0.52);
}

@media screen and (max-width: 600px) {
    .mat-display-2 {
    font-size: 6vw;
    }
}