<div class="home">
    <mat-grid-list cols="2" rowHeight='500px' gutterSize='10px'>
        <mat-grid-tile>
            <p class="mat-display-2">
                In today's world life is
                <br>
                chaotic and stressful
                <br>
                allow Red Apron to alleviate
                <br>
                the challenges of home cooked meals.
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="gridImage1"
                src="https://images.unsplash.com/photo-1569760142069-bc6838de16c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="gridImage2"
                src="https://images.unsplash.com/photo-1504973960431-1c467e159aa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="mat-display-2">
                Choose meals that will satisfy everyone's
                <br>
                appetite from our chef inspired menu.
            </p>
        </mat-grid-tile>
    </mat-grid-list>
</div>