<!-- <div class="containerAbout" fxLayout="row">
    <div fxFlex="5%">

    </div>
    <div fxFlex="14%">

    </div>
    <div fxFlex="70%">

    </div>
    <div fxFlex="14%">

    </div>
</div> -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="about-section">
        <h1>About Red Apron</h1>
        <hr class="hrClass">
        <p>Good food should be everyone's right!!</p>
        <p>Red Apron is dedicated to serving individuals and families that have limited amount of time to cook and
            prepare meals.<br> Our main objective is to provide these individuals with healthier options with fresh
            ingredients at a reasonable cost.</p>
        <hr class="hrClass">
    </div>

    <div id="aboutCards" class="row">
        <h2 id="ourTeam" style="text-align:center">Our Team</h2>
        <div class="column">
            <div class="card">
                <img class="picRound" src="../../assets/Alan_Schultz.jpg" alt="Alan Portrait" style="width:100%">
                <div class="container">
                    <h2>Alan Schultz</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi illum sed? Nulla explicabo
                        est tenetur adipisci at impedit laborum ab veniam. Alias voluptas ex suscipit hic et eligendi
                        vitae!</p>
                    <p>alanjschultz@gmail.com</p>
                    <p><a href="mailto:alanjschultz@gmail.com"><button class="button">Contact</button></a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="picRound" src="../../assets/Brendan_Broadstreet.jpg" alt="Brendan Portrait"
                    style="width:100%">
                <div class="container">
                    <h2>Brendan Broadstreet</h2>
                    <p class="title">V.P. Global Sales</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci voluptatibus, ipsa eaque
                        perspiciatis ullam repellat velit corrupti doloribus aliquid molestias blanditiis omnis officiis
                        animi maxime. Asperiores distinctio eum voluptate aperiam.</p>
                    <p>Brendan.Broadstreet@gmail.com</p>
                    <p><a href="mailto:Brendan.Broadstreet@gmail.com"><button class="button">Contact</button></a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="picRound" src="../../assets/Alex_Golding.jpg" alt="Alex Portrait" style="width:100%">
                <div class="container">
                    <h2>Alex Golding</h2>
                    <p class="title">Meal Designer & Master Meat Smoker</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit alias eum magni fugit magnam,
                        nemo natus corrupti optio illo cupiditate dolor, hic dignissimos itaque, illum non tenetur cum
                        numquam nisi.</p>
                    <p>alexgolding@icloud.com</p>
                    <p><a href="mailto:alexgolding@icloud.com"><button class="button">Contact</button></a></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>