<div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty</div>

<mat-list *ngIf='cartItems.length > 0' role="list" class="list-group">
  <mat-list-item role="listitem" class="list-group-item" *ngFor="let item of cartItems">
    <!-- <button class="deleteCartItemButton" mat-raised-button color="primary"
      (click)="removeCartItem(cartItems[0].id)">Delete
      Item</button> -->
    <button mat-icon-button color="warn" (click)="removeCartItem(item.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <br>
    <app-cart-item [cartItem]="item"></app-cart-item>
  </mat-list-item>
  <hr>
  <mat-list-item role="listitem" class="list-group-item"><strong>Total: {{ cartTotal | currency:'USD'}} </strong>
  </mat-list-item>


</mat-list>