<mat-toolbar id="navbar">
    <div><a routerLink='/header' routerLinkActive='active' style="color: white;">Home</a></div>
    <div>
      <span><a *ngIf="notLoggedIn()" routerLink='/login' routerLinkActive='active' style="color: white;">Login</a></span>
      <span><a *ngIf="!notLoggedIn()" routerLink='/login' routerLinkActive='active' style="color: white;">Logout</a></span>
      <span><a *ngIf="!notLoggedIn()" routerLink='/cart' routerLinkActive='active' style="color: white;">Cart</a></span>
    </div>
    <div>
        <span>About</span>
        <span>Profile</span>
        <span>Contact</span>
    </div>
</mat-toolbar>
