<mat-toolbar id="navbar">
    <div><img src="../../assets/favicon-32x32.png" alt=""><a mat-button mat-raised-button routerLink='/home' routerLinkActive='active' style="color: white;">Home</a></div>
    <div>
      <span><a mat-button mat-raised-button *ngIf="!notAdmin()" routerLink='/admin' routerLinkActive='active' style="color: Red;">Admin</a></span>
      <span><a mat-button mat-raised-button *ngIf="!notLoggedIn()" routerLink='/shopping-cart' routerLinkActive='active' style="color: white;">Menu</a></span>
      <span><a mat-button mat-raised-button *ngIf="!notLoggedIn()" routerLink='/login' routerLinkActive='active' style="color: white;">Log Out</a></span>
      <span><a mat-button mat-raised-button *ngIf="notLoggedIn()" routerLink='/login' routerLinkActive='active' style="color: white;">Log In</a></span>
      <span><a mat-button mat-raised-button *ngIf="notLoggedIn()" routerLink='/signup' routerLinkActive='active' style="color: white;">Sign Up</a></span>
    </div>
    <div>

      <span><a mat-button mat-raised-button  routerLink='/about' routerLinkActive='active' style="color: white;">About</a></span>
        <!-- <span>Profile</span> -->
        <!-- <span>Contact</span> -->

    </div>
</mat-toolbar>
